@page
@using Microsoft.AspNetCore.Components;
@model Web.Pages.GroupsModel
@{
    
}

<html>
<head>

	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

	<body>
		<a class="btn btn-outline-dark" asp-page="Index">Назад</a>
		<center>

			<div class="title">
				<h2>Форма записи на посещение мероприятия</h2>
			</div>

			<div class="container">
				<form method="post" role="form" enctype="multipart/form-data">
					<div>
						<div id="block5" class="info">
							<h3>Информация для пропуска</h3>
							<div class="info_pass_gray">
								<p>Срок действия заявки:</p>
								<div class="wrapper">
									<p>С*</p>
									<input type="date" asp-for="User.beginDate" required="required" />
									<p>ПО</p>
									<input type="date" asp-for="User.endDate" required="required" />
								</div>
								<p>Цель посещения:</p>
								<select asp-for="User.target">
									<option value="">Выберите цель посещения</option>
									@foreach (var target in GroupsModel.Targets)
									{
										<option value="@target.info">@target.info</option>
									}
								</select>
							</div>

						</div>


						<div id="block6" class="info">
							<h3>Принимающая сторона</h3>
							<p>Подразделение*:</p>
							<select id="selectvalue_2" asp-for="User.division">
								<option value="">Выберите подразделение</option>
								@foreach (var division in GroupsModel.Divisions)
								{
									<option value="@division.info">@division.info</option>
								}
							</select>
							<p></p>
							<p>ФИО*:</p>
							<select id="selectvalue_2" asp-for="User.employee">
								<option value="">Выберите сотрудника</option>
								@{
									foreach (var division in GroupsModel.Divisions)
									{
										<optgroup label="@division.info">
											@foreach (var employees in GroupsModel.Employees)
											{
												if (division.info == employees.division)
												{
													<option value="@employees.firstName">@employees.firstName @employees.name @employees.lastName</option>
												}
											}
										</optgroup>
									}
								}
							</select>
						</div>
					</div>


					<div id="block7" class="info">
						<h3>Информация о посетителе</h3>
						<div class="g_table">
							<table>
								<tr>
									<td>
										<h5>Фамилия*:</h5>
									</td>
									<td>
										<input type="text" asp-for="User.firstName" requaired />
									</td>
									<td>
										<h5>Имя*:</h5>
									</td>
									<td>
										<input type="text" asp-for="User.name" requaired />
									</td>
								</tr>
								<tr>
									<td>
										<h5>Отчество*:</h5>
									</td>
									<td>
										<input type="text" asp-for="User.lastName" requaired />
									</td>
									<td>
										<h5>Телефон:</h5>
									</td>
									<td>
										<input type="text" asp-for="User.number" requaired />
									</td>
								</tr>
								<tr>
									<td>
										<h5>E-mail:</h5>
									</td>
									<td>
										<input type="text" asp-for="User.email" requaired />
									</td>
									<td>
										<h5>Организация:</h5>
									</td>
									<td>
										<input type="text" asp-for="User.organization" requaired />
									</td>
								</tr>
								<tr>
									<td>
										<h5>Примечание:</h5>
									</td>
									<td>
										<input type="text" asp-for="User.note" requaired />
									</td>
									<td>
										<h5>Дата рождения:</h5>
									</td>
									<td>
										<input type="date" asp-for="User.birthday" requaired />
									</td>
								</tr>
								<tr>
									<td>
										<h5>Серия:</h5>
									</td>
									<td>
										<input type="text" name="seriesPassport" requaired />
									</td>
									<td>
										<h5>Номер:</h5>
									</td>
									<td>
										<<input type="text" name="numberPassport" requaired />
									</td>
								</tr>
							</table>
						</div>
					<input type="submit" id="button_add" asp-page-handler="Add">Добавить посетителя</button>

					</div>


					<div id="block8" class="info">
						<h3>Список посетителей</h3>

						<div info_file>
							<label for="visits"></label>
							<input type="file" name="uploadedExelGroupUsers" accept=".xls,.pdf" />
							<input type="submit" asp-page-handler="Excel" value="Загрузить" />
							<a href='table.xls'>Скачать шаблон списка</a>
						</div>


						<div class="table">
							<table>
								<thead>
									<tr>
										<th>№</th>
										<th>ФИО</th>
										<th>Контакты</th>
										<th>Фотография</th>
									</tr>
								</thead>
								<tbody>
									@{
										if (GroupsModel.groupUser != null)
										{
											foreach (var group in GroupsModel.groupUser)
											{
												<tr>
													<td></td>
													<td>@group.name</td>
													<td>@group.number</td>
													<td> <input type="file" name="uploadedPhotoGroupUsers" /> </td>
													<td><input type="file" name="uploadedPdfGroupUsers" /></td>
												</tr>
											}
										}
									}
								</tbody>
							</table>
						</div>
					</div>



					<div id="block9" class="info">
						<h3>Прикрепляемые документы</h3>

						<div class="doc">
							<input type="file" />
						</div>
					</div>
					<div id="block10">
					<input type="submit" id="button1" asp-page-handler="Clear" value="Очистить форму" />
					<input type="submit" id="button2" asp-page-handler="Create" value="Оформить заявку" />
					</div>
				</form>
			</div>
		</center>
	</body>

</html>