@page "{id}"
@model Web.Pages.HistoryModel
@{
}

<html>
<body>
    <center>
        <div class="info" align="center">
            <center>
                <div style="border-radius: 8px">
                    <h2>История заявок</h2>
                    <form id="myForm" method="post" asp-page-handler="Option">
                        <select name="option" onChange=selectChange(this.value)>
                            @{
                                @for (int i = 0; i<2;i++)
                                {
                                    <option value="@i">@HistoryModel.Options[i]</option>
                                }
                            }
                        </select>
                    </form>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <td><h3>ID</h3></td>
                            <td><h3>Подразделение</h3></td>
                            <td><h3>Дата</h3></td>
                            <td><h3>Время</h3></td>
                            <td><h3>Статус</h3></td>
                            <td><h3>Комментарий</h3></td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Option == 0)
                        {
                            foreach (var individ in Model.Individs)
                            {
                                <tr>
                                    <td>
                                        <h3>@individ.id</h3>
                                    </td>
                                    <td>
                                        <h3>@individ.division</h3>
                                    </td>
                                    <td>
                                        <h3>@individ.beginDate</h3>
                                    </td>
                                    <td>
                                        <h3>@individ.endDate</h3>
                                    </td>
                                    <td>
                                        <h3>@individ.status</h3>
                                    </td>
                                    <td>
                                        <h3>@individ.comment</h3>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            foreach (var group in Model.GroupUsers)
                            {
                                <tr>
                                    <td>
                                        <h3>@group.applicationNumber</h3>
                                    </td>
                                    <td>
                                        <h3>@group.division</h3>
                                    </td>
                                    <td>
                                        <h3>@group.beginDate</h3>
                                    </td>
                                    <td>
                                        <h3>@group.endDate</h3>
                                    </td>
                                    <td>
                                        <h3>@group.status</h3>
                                    </td>
                                    <td>
                                        <h3>@group.comment</h3>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                    </tbody>
                </table>
            </center>
            <center>
                <a class="btn btn-outline-dark" asp-page="Index">Назад</a>
            </center>
        </div>
    </center>
</body>
</html>

<script>
    function selectChange(val) {
        //Set the value of action in action attribute of form element.
        //Submit the form
        $('#myForm').submit();
    }
</script>